@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.tittle {
  font-size: 35px;
  text-align: center;
  margin: 10px;
  margin-top: 50px; }

@media screen and (max-width: 768px) {
  .tittle {
    margin-top: 20px;
    font-size: 32px; } }

.button {
  margin: 20px;
  padding: 10px;
  background-color: #000000;
  color: #E4E5E7; }

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #292929;
  margin-top: 100px; }
  .footer-container #copyright {
    display: flex;
    align-items: center;
    width: 60%; }
    .footer-container #copyright p {
      color: white;
      margin: 0; }
  .footer-container .footer-links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0px; }
    .footer-container .footer-links a {
      color: white;
      font-size: 40px; }

@media screen and (max-width: 768px) {
  #copyright p {
    font-size: 10px; }
  .footer-links a {
    font-size: 10px; } }

@media screen and (max-width: 400px) {
  .footer-container {
    flex-direction: row; }
    .footer-container #copyright {
      width: 50%; }
    .footer-container .footer-links {
      width: 50%; } }

header {
  z-index: 100000;
  width: 100%;
  top: 0; }

main {
  margin-top: 75px; }

.navbar {
  box-shadow: 0 4px 5px #e5e5e5;
  background-color: white; }
  .navbar .header-nav {
    max-width: 1500px; }
    .navbar .header-nav .logo {
      max-height: 50px;
      padding-left: 27px; }
    .navbar .header-nav .navbar-collapse {
      flex-grow: 0.1; }
      .navbar .header-nav .navbar-collapse .nav-link {
        font-size: 20px; }
      .navbar .header-nav .navbar-collapse .dropdown-menu {
        border-radius: 0%; }
        .navbar .header-nav .navbar-collapse .dropdown-menu .dropdown-item:hover {
          background-color: black;
          color: white; }
    .navbar .header-nav .navbar-toggler {
      border: none; }
      .navbar .header-nav .navbar-toggler:focus {
        box-shadow: none; }

.contact-container {
  display: flex;
  width: 60%;
  margin: auto;
  gap: 40px;
  margin-top: 40px; }
  .contact-container .information {
    width: 50%;
    color: #3B3F4A; }
    .contact-container .information h3 {
      font-size: 40px; }
    .contact-container .information p {
      font-size: 20px; }
    .contact-container .information .contact-icons p,
    .contact-container .information .contact-icons i {
      font-size: 25px;
      margin-top: 15px; }
  .contact-container .form-container {
    width: 50%; }
    .contact-container .form-container .contact-form {
      display: flex;
      flex-direction: column;
      font-size: 20px; }
      .contact-container .form-container .contact-form .form-text {
        font-size: 15px; }
      .contact-container .form-container .contact-form .form-box {
        border: 1px solid #E4E5E7;
        background-color: #FcFcFc;
        padding: 10px; }
      .contact-container .form-container .contact-form .button {
        margin: 20px;
        padding: 10px;
        background-color: #000000;
        color: #E4E5E7; }
      .contact-container .form-container .contact-form label {
        margin: 10px;
        display: block; }
      .contact-container .form-container .contact-form input {
        display: block; }

@media screen and (max-width: 844px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    width: unset;
    gap: 50px;
    margin-top: 10px; }
    .contact-container .information {
      width: unset;
      text-align: center; }
      .contact-container .information h3 {
        font-size: 22px; }
      .contact-container .information p {
        font-size: 15px; }
      .contact-container .information .contact-icons p,
      .contact-container .information .contact-icons i {
        font-size: 18px; }
    .contact-container .form-container {
      width: 90%; }
      .contact-container .form-container .contact-form {
        font-size: 18px; } }

.container-lg {
  margin: auto;
  padding: 0;
  margin-top: 20px; }
  .container-lg .carousel-item {
    height: fit-content;
    margin-top: 40px;
    max-height: 495px; }
    .container-lg .carousel-item img {
      height: 400px;
      max-height: 400px;
      object-fit: cover;
      object-position: right; }

.main-texto {
  height: auto;
  margin: 70px;
  line-height: 50px;
  text-align: center; }
  .main-texto h3 {
    font-size: 23px; }
  .main-texto p {
    font-size: 16px; }

.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .cards-container .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 30px;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.45);
    transition: all .38s linear; }
    .cards-container .card:hover {
      transform: translateY(-10px); }
    .cards-container .card .card-img {
      width: 100%;
      padding: 5px;
      border-radius: 8px; }
    .cards-container .card .card-info h3 {
      padding: 10px;
      text-align: center; }
    .cards-container .card .card-info p {
      padding: 10px;
      font-size: 16px; }
    .cards-container .card .card-info a {
      display: flex;
      justify-content: space-around;
      text-decoration: none; }
      .cards-container .card .card-info a .button-primary {
        margin: 20px;
        padding: 10px;
        background-color: #000000;
        color: #E4E5E7; }
        .cards-container .card .card-info a .button-primary:hover {
          margin: 20px;
          padding: 10px;
          background-color: #E4E5E7;
          color: #000000; }

.card-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../multimedia/card-contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: white;
  margin-top: 100px;
  text-align: center; }
  .card-contact .button-primary {
    margin: 20px;
    padding: 10px;
    background-color: #000000;
    color: #E4E5E7; }
    .card-contact .button-primary:hover {
      margin: 20px;
      padding: 10px;
      background-color: #E4E5E7;
      color: #000000; }

@media screen and (max-width: 768px) {
  .container-lg {
    margin-top: 0; }
  .main-texto {
    margin: 20px;
    line-height: 15px; }
    .main-texto h3 {
      font-size: 17px; }
    .main-texto p {
      font-size: 16px; }
  .cards-container {
    flex-direction: column;
    justify-content: unset;
    align-content: center;
    width: 100%; }
    .cards-container .card {
      width: 90%;
      box-shadow: none;
      border: none; }
      .cards-container .card .card-info h3 {
        padding: 5px;
        font-size: 20px; }
      .cards-container .card .card-info p {
        padding: 15px;
        margin: 10px;
        font-size: 16px; }
      .cards-container .card .card-info a {
        display: flex;
        width: auto;
        justify-content: space-around;
        text-decoration: none; } }

.main-nosotros {
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 30px;
  height: 100%; }
  .main-nosotros .container-img {
    width: 50%;
    display: flex;
    height: fit-content;
    margin: auto; }
    .main-nosotros .container-img img {
      width: 80%;
      max-width: 600px;
      margin: auto; }
  .main-nosotros .nosotros-text {
    width: 50%;
    line-height: 30px;
    margin: auto; }
    .main-nosotros .nosotros-text h3 {
      font-size: 30px;
      margin-bottom: 5px; }
    .main-nosotros .nosotros-text h4 {
      font-size: 18px;
      margin-bottom: 10px; }
    .main-nosotros .nosotros-text p {
      margin-bottom: 8px; }

.team-tittle h4 {
  text-align: center;
  padding: 50px; }

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: auto; }
  .team .team-cards {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 30px;
    text-align: center;
    transition: all .38s ease; }
    .team .team-cards:hover {
      transform: translateY(-10px); }
    .team .team-cards img {
      object-fit: cover;
      width: 100%;
      padding: 5px; }

@media screen and (max-width: 768px) {
  .main-nosotros {
    margin-top: 40px;
    flex-direction: column; }
    .main-nosotros .container-img {
      width: 100%;
      margin-bottom: 20px; }
      .main-nosotros .container-img img {
        height: fit-content;
        margin: auto; }
    .main-nosotros .nosotros-text {
      width: 90%; }
      .main-nosotros .nosotros-text h3 {
        margin-bottom: 8px;
        text-align: center; }
      .main-nosotros .nosotros-text h4 {
        margin-bottom: 15px;
        text-align: center; } }

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto; }
  .services .service {
    display: flex;
    width: 90%;
    margin: auto;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #E4E5E7; }
    .services .service .service-img {
      max-width: 500px;
      width: 50%;
      height: fit-content;
      margin: auto; }
    .services .service .service-info h3 {
      margin-left: 40px; }
    .services .service .service-info p {
      margin-top: 20px;
      margin-left: 40px; }
  .services .inpar {
    display: flex;
    flex-direction: row-reverse; }
    .services .inpar p {
      margin-right: 40px; }

@media screen and (max-width: 844px) {
  .services {
    width: 95%;
    height: 100%; }
    .services .service {
      flex-direction: column;
      margin: 30px auto;
      padding: 0px; }
      .services .service .service-img {
        width: 100%;
        height: 20%;
        margin: auto; }
      .services .service .service-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: auto; }
        .services .service .service-info h3 {
          margin: 15px auto; }
        .services .service .service-info p {
          margin: 0px 7px; } }

.salones-info {
  margin-top: 40px; }
  .salones-info .maps-container {
    display: flex;
    justify-content: center; }
    .salones-info .maps-container .maps {
      width: 90%;
      height: 90%;
      min-height: 250px; }

.galeria div {
  display: flex;
  justify-content: center; }
  .galeria div img {
    width: 100%;
    margin: 12px 0px;
    object-fit: cover;
    object-position: center; }
