/* CSS RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* estilos generales */
.tittle {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
}

/* NAV */
.navbar {
    box-shadow: 0 4px 5px #e5e5e5;
    background-color: white;
}

.header-nav {
    max-width: 1500px;
}

.logo {
    max-height: 50px;
    padding-left: 27px;
}

.navbar-collapse {
    flex-grow: 0.1;
}

.nav-link {
    font-size: 20px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    border-radius: 0%;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
}

/* FOOTER */

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #292929;
    margin-top: 100px;
}

#copyright {
    display: flex;
    align-items: center;
}

#copyright p {
    color: white;
    margin: 0;
}

.footer-links {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

.footer-links ul {
    display: flex;
    list-style-type: none;
    margin: 30px;
    justify-content: space-around;
}

.footer-links a {
    color: white;
    font-size: 55px;
}

/* Main - INDEX */

/* carousel */
.container-lg {
    margin: auto;
    padding: 0;
}

.carousel-item {
    height: fit-content;
    margin-top: 40px;
    max-height: 495px;
}

.carousel {
    margin-top: 20px;
}


/* text and cards */

.main-texto {
    height: auto;
    margin: 70px;
    line-height: 50px;
    text-align: center;
}

.main-texto h3 {
    font-size: 23px;
}

.main-texto p {
    font-size: 16px;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 30px;
    transition: box-shadow 0.3s ease;
    border: none;
}

.card:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.45);
}

.card-img {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}

.card-info h3 {
    padding: 10px;
    text-align: center;
}

.card-info p {
    padding: 10px;
}

.button-primary {
    margin: 20px;
    padding: 10px;
    background-color: #000000;
    color: #E4E5E7;
}

.button-primary:hover {
    margin: 20px;
    padding: 10px;
    background-color: #ffff;
    color: #000000;
}

/* Main - SERVICES*/

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.service {
    display: flex;
    width: 90%;
    margin: auto;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #E4E5E7;
}

.inpar {
    display: flex;
    flex-direction: row-reverse;
}

.inpar p {
    margin-right: 40px;
}

.service-img {
    max-width: 500px;
    width: 50%;
    height: fit-content;
}

.service-info h3 {
    margin-left: 40px;
}

.service-info p {
    margin-top: 20px;
    margin-left: 40px;
}

/* Main - CONTACTO*/

.contact-container {
    display: flex;
    width: 60%;
    margin: auto;
    gap: 40px;
    margin-top: 40px;
}

.information {
    width: 50%;
    color: #3B3F4A;
}

.information h3 {
    font-size: 40px;
}

.information p {
    font-size: 20px;
}

.contact-icons p,
.contact-icons i {
    font-size: 25px;
    margin-top: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.form-text {
    font-size: 15px;
}

.form-box {
    border: 1px solid #E4E5E7;
    background-color: #FcFcFc;
    padding: 10px;
}

.form-container {
    width: 50%;
}

.button {
    margin: 20px;
    padding: 10px;
    background-color: #000000;
    color: #E4E5E7;
}

label {
    margin: 10px;
    display: block;
}

input {
    display: block;
}

/* Main - NOSOTROS */


.main-nosotros {
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 30px;
    height: 100%;
}

.container-img {
    width: 50%;
    display: flex;
    height: fit-content;
    margin: auto;
}

.container-img img {
    width: 100%;
    width: 80%;
    min-width: 20%;
}

.nosotros-text {
    width: 50%;
    line-height: 30px;
    margin: auto;
}

.nosotros-text h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.nosotros-text h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.nosotros-text p {
    margin-bottom: 8px;
}

.team {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    align-items: center;
}

.team-cards {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 30px;
    text-align: center;
    transition: all .38s ease;
}

.team-cards:hover {
    transform: translateY(-10px);
}

.team-cards img {
    object-fit: cover;
    width: 100%;
    padding: 5px;
}

.team-tittle h4 {
    text-align: center;
    padding: 50px;
}

/* Main - SALONES*/

.maps {
    width: 90%;
    height: 90%;
    min-height: 250px;
}

.salones-info {
    margin-top: 40px;
}

.galeria div {
    display: flex;
    justify-content: center;
}

.galeria div img {
    width: 80%;
    margin: 40px;
    object-fit: cover;
    object-position: center;
}

.galeria-tittle h3 {
    text-align: center;
    margin: 50px;
    font-size: 40px;
    text-decoration: underline;
}

.maps-container {
    display: flex;
    justify-content: center;
}

/* @MEDIA */

@media screen and (max-width: 768px) {

    .tittle {
        margin-top: 20px;
        font-size: 32px;
    }

    .carousel-item {
        margin-top: 0;
    }

    .carousel-item img {
        height: 400px;
        max-height: 400px;
        object-fit: cover;
        object-position: right;
    }

    /* Some Text - INDEX */
    .main-texto {
        height: auto;
        margin: 10px;
        text-align: center;
        line-height: 15px;
    }

    .main-texto h3 {
        font-size: 15px;
    }

    .main-texto p {
        font-size: 12px;
    }

    /* Footer */
    #copyright p {
        font-size: 15px;
    }

    .footer-links a {
        font-size: 36px;
    }

    .footer-container {
        height: 100px;
    }


    /* Cards - INDEX*/

    .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-content: center;
        width: 100%;
    }

    .card {
        width: 90%;
        margin-top: 30px;
        border: none;
    }

    .card-img img {
        width: 50%;
    }

    .card-info h3 {
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }

    .card-info p {
        padding: 15px;
        margin: 10px;
        font-size: 12px;
    }

    .card-info a {
        display: flex;
        width: auto;
        justify-content: space-around;
        text-decoration: none;
    }

    .button-primary {
        margin: 20px;
        padding: 10px;
        background-color: #000000;
        color: #E4E5E7;
    }

    .button-primary:hover {
        margin: 20px;
        padding: 10px;
        background-color: #ffff;
        color: #000000;
    }

    /* Services */
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 100%;
        margin: auto;
    }

    .service {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin: 20px auto;
        border: none;
        padding: 0;
    }

    .inpar {
        display: flex;
        flex-direction: column;
    }

    .inpar p {
        margin-right: auto;
    }

    .service-img {
        width: 90%;
        height: 20%;
        margin: auto;
    }

    .service-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    .service-info h3 {
        margin-top: 15px;
    }

    .service-info p {
        margin-top: 20px;
    }

    /* Main - CONTACTO*/

    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: unset;
        margin: auto;
        gap: 50px;
        margin-top: 10px;
    }

    .information {
        width: unset;
        color: #3B3F4A;
        text-align: center;
    }

    .information h3 {
        font-size: 22px;
    }

    .information p {
        font-size: 15px;
    }

    .contact-icons p,
    .contact-icons i {
        font-size: 18px;
        margin-top: 15px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }

    .form-text {
        font-size: 15px;
    }

    .form-box {
        border: 1px solid #E4E5E7;
        background-color: #FcFcFc;
        padding: 10px;
    }

    .form-container {
        width: 90%;
    }

    .button {
        margin: 20px;
        padding: 10px;
        background-color: #000000;
        color: #E4E5E7;
    }

    label {
        margin: 10px;
        display: block;
    }

    input {
        display: block;
    }

    /* Main - NOSOTROS*/

    .main-nosotros {
        margin-top: 40px;
        height: 100%;
        flex-direction: column;
    }

    .container-img {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }

    .container-img img {
        width: 100%;
        height: fit-content;
        margin: auto;
    }

    .nosotros-text {
        width: 80%;
        line-height: 30px;
        margin: auto;
    }

    .nosotros-text h3 {
        font-size: 30px;
        margin-bottom: 8px;
        text-align: center;
    }

    .nosotros-text h4 {
        font-size: 18px;
        margin-bottom: 15px;
        text-align: center;
    }

    .nosotros-text p {
        margin-bottom: 8px;
    }
}