//carousel
.container-lg {
    margin: auto;
    padding: 0;
    margin-top: 20px;

    .carousel-item {
        height: fit-content;
        margin-top: 40px;
        max-height: 495px;

        img {
            height: 400px;
            max-height: 400px;
            object-fit: cover;
            object-position: right;
        }
    }
}

//text and cards

.main-texto {
    height: auto;
    margin: 70px;
    line-height: 50px;
    text-align: center;

    h3 {
        font-size: 23px;
    }

    p {
        font-size: 16px;
    }
}


.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card {
        @include card;
        box-shadow: 0 0.1rem 0.4rem $border-dark;
        transition: all .38s linear;

        &:hover {
            transform: translateY(-10px);
        }

        .card-img {
            width: 100%;
            padding: 5px;
            border-radius: 8px;
        }

        .card-info {
            h3 {
                padding: 10px;
                text-align: center;
            }

            p {
                padding: 10px;
                font-size: 16px;
            }

            a {
                display: flex;
                justify-content: space-around;
                text-decoration: none;

                .button-primary {
                    margin: 20px;
                    padding: 10px;
                    background-color: $secondary-color;
                    color: $primary-color;

                    &:hover {
                        margin: 20px;
                        padding: 10px;
                        background-color: $primary-color;
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

.card-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url("../../multimedia/card-contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @include flexbox (column, center, center);
    height: 500px;
    color: white;
    margin-top: 100px;
    text-align: center;
    .button-primary {
        margin: 20px;
        padding: 10px;
        background-color: $secondary-color;
        color: $primary-color;

        &:hover {
            margin: 20px;
            padding: 10px;
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}

@media screen and (max-width: 768px) {

    .container-lg {
        margin-top: 0;
    }

    //text and cards

    .main-texto {
        margin: 20px;
        line-height: 15px;

        h3 {
            font-size: 17px;
        }

        p {
            font-size: 16px;
        }
    }


    .cards-container {
        flex-direction: column;
        justify-content: unset;
        align-content: center;
        width: 100%;

        .card {
            width: 90%;
            box-shadow: none;
            border: none;

            .card-info {
                h3 {
                    padding: 5px;
                    font-size: 20px;
                }

                p {
                    padding: 15px;
                    margin: 10px;
                    font-size: 16px;
                }

                a {
                    display: flex;
                    width: auto;
                    justify-content: space-around;
                    text-decoration: none;
                }

            }
        }
    }
}