.salones-info {
    margin-top: 40px;

    .maps-container {
        display: flex;
        justify-content: center;

        .maps {
            width: 90%;
            height: 90%;
            min-height: 250px;
        }
    }

}

.galeria {
    div {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            margin: 12px 0px;
            object-fit: cover;
            object-position: center;
        }
    }
}
