.services {
    @include flexbox (column, space-evenly, center);
    width: 80%;
    margin: auto;

    .service {
        display: flex;
        width: 90%;
        margin: auto;
        margin: 50px auto;
        padding: 30px;
        border: 1px solid $primary-color;

        .service-img {
            max-width: 500px;
            width: 50%;
            height: fit-content;
            margin: auto;
        }

        .service-info {
            h3 {
                margin-left: 40px;
            }

            p {
                margin-top: 20px;
                margin-left: 40px;
            }
        }

    }

    .inpar {
        display: flex;
        flex-direction: row-reverse;

        p {
            margin-right: 40px;
        }
    }
}

@media screen and (max-width: 844px) {
    .services {
        width: 95%;
        height: 100%;
        
        .service {
            flex-direction: column;
            margin: 30px auto;
            padding: 0px;
    
            .service-img {
                width: 100%;
                height: 20%;
                margin: auto;
            }
    
            .service-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 80%;
                margin: auto;

                h3 {
                    margin: 15px auto;
                }
                p {
                    margin: 0px 7px;
                }
            }
        }
    }
}